@use "../abstracts/variables" as *;
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-toggle {
	cursor: pointer;
	display: none;
}

.primary-navigation {
	display: flex;
	gap: 2.9375rem;
}

.primary-navigation a {
	padding: 0.25em 0.5em;
	font-family: var(--ff-sans);
	font-size: var(--fs-500);
	font-weight: var(--fw-semibold);
	line-height: var(--lh-50);
	letter-spacing: var(--ls-100);
	color: hsl(var(--clr-light));

	&:hover {
		color: hsl(var(--clr-light));
		background-color: hsl(var(--clr-light), 0.3);
	}
}

.primary-navigation a.contact-button {
	padding: 1.25em 2em;

	align-self: center;

	font-family: var(--ff-serif);
	font-size: var(--fs-300);
	font-weight: var(--fw-bold);
	text-transform: uppercase;

	border-radius: 50px;

	color: black;
	background-color: white;

	&:hover {
		color: hsl(var(--clr-light));
		background-color: hsl(var(--clr-light), 0.3);
	}
}

@media (max-width: 47.999rem) {
	.nav-toggle {
		width: 1.5rem;
		aspect-ratio: 1;

		display: block;

		background: transparent;
		background-image: url(/images/icon-hamburger.svg);
		background-repeat: no-repeat;
		background-position: center;
		width: 1.5rem;
		aspect-ratio: 1;
		border: 0;

		z-index: 2000;
	}
	.nav-toggle[aria-expanded="true"] {
		background-image: url(/images/icon-close.svg);
	}

	.nav-toggle:focus-visible {
		outline: 5px solid white;
		outline-offset: 5px;
	}

	nav {
		position: relative;
	}

	.primary-navigation {
		height: 40vh;
		z-index: 1000;

		position: fixed;
		inset: 82px 2.2em 0 2.2em;

		flex-direction: column;
		justify-content: center;
		align-items: center;
		row-gap: 3em;

		background-color: hsl(var(--clr-bg-3));

		transform: translate(120%);
		transition: transform 750ms ease-in-out;

		&[data-visible="true"] {
			transform: translateX(0);
		}
	}

	.primary-navigation a {
		color: hsl(var(--clr-text-2));
	}

	.primary-navigation a:hover {
		color: hsl(var(--clr-accent-3));
	}

	.primary-navigation a.contact-button {
		background-color: hsl(var(--clr-accent-3));

		&:hover {
			color: black;
			background-color: hsl(var(--clr-accent-3), 0.4);
		}
	}
}

.secondary-navigation {
	display: flex;
	justify-content: center;
	gap: 3.5625rem;
	line-height: var(--lh-75);
	letter-spacing: var(--ls-100);

	font-family: var(--ff-sans);
	font-size: var(--fs-500);
}

.secondary-navigation a {
	font-weight: var(--fw-semibold);
	color: hsl(var(--clr-text-9));

	&:hover {
		color: hsl(var(--clr-light));
	}
}
