@use "../abstracts/variables" as *;
body {
	background-color: lightgray;
}

.container {
	max-width: 90rem;
	margin-inline: auto;
	padding-inline: 1.5em;

	text-align: center;

	background-color: hsl(var(--clr-light));

	// border: 2px solid green;
}

@media (min-width: 48rem) {
	.container {
		padding-inline: 2.5em;
	}
}

//SCREEN READER ONLY
.sr-only {
	position: absolute;

	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap; /* added line */
	border: 0;
}
